#version=RHEL8
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# Use graphical install
graphical
# Network information
network  --bootproto=dhcp --device=eno1 --ipv6=auto --activate
network  --bootproto=dhcp --device=eno2 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno3 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno4 --onboot=off --ipv6=auto
network  --bootproto=dhcp --hostname=localhost.localdomain
ignoredisk --only-use=nvme0n1
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$iqo/Uv1a/G7zGLd1$jFzu4fR/wVEi9PHSrIZZsBBdLPS1ZsvfGdnzGQaabPBwVFuHOGcPO60tgruSYOMewWPIDe10JI9waHNx0msd40
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=davidmarcus --password=$6$FLrr9I8WW/j1KWsh$T.iesn2XFKAZKuNWUsG1AxAIIpVFWGdPqxZYOtJ4rKj5/4CKkqZYCAbBYzfEMBZPQH7643KZtp0JPNR/rc3lT/ --iscrypted --gecos="davidmarcus"
# System bootloader configuration
bootloader --location=none
# Partition clearing information
clearpart --all --initlabel --drives=nvme0n1
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=nvme0n1 --size=1024
part pv.518 --fstype="lvmpv" --ondisk=nvme0n1 --size=75784
part /boot/efi --fstype="efi" --ondisk=nvme0n1 --size=600 --fsoptions="umask=0077,shortname=winnt"
volgroup rhel --pesize=4096 pv.518
logvol /home --fstype="xfs" --size=51200 --name=home --vgname=rhel
logvol swap --fstype="swap" --size=4096 --name=swap --vgname=rhel
logvol / --fstype="xfs" --size=20480 --name=root --vgname=rhel

%packages
@^graphical-server-environment
kexec-tools

%end

%addon com_redhat_subscription_manager 
%end
%addon ADDON_placeholder --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
